
.loginContainer {
    margin: 30vh auto;
    width: 50%;
    height: 50vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5vh 5vh;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.25);
    
}

.loginformdiv {
    float: right;
}

.imgLogin {
    float: left;
}

label {
    display: block;
}

